{% extends 'main.html' %}
{% block content %}
  <!-- Используйте любой элемент для открытия боковой навигации -->
  <script>
    // Функция для получения CSRF токена из куки
    function getCSRFToken() {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          if (cookie.substring(0, 'csrftoken'.length + 1) === 'csrftoken' + '=') {
            cookieValue = decodeURIComponent(cookie.substring('csrftoken'.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
  </script>

  <div class="conteiner">
    {% for product in products %}
      <div class="card">
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="Товар" style="width: 180px; height: 140px;" />
        {% else %}
          <img src="/static/zagluschka.jpg " style="width: 180px; height: 140px;" />
        {% endif %}
        <hr />
        <h3>{{ product }}</h3>
        <p class="price">{{ product.price }}</p>
        <div class="quantity">
          <button class="minus-btn">-</button>
          {% comment %} <input type="text" class="quantity-input" value="1" /> {% endcomment %}
          <div class="quantity-input">0</div>
          <button class="plus-btn">+</button>
        </div>
        <button class="add-to-cart-btn" data-product-id="{{ product.id }}">&#x1F6D2; Добавить в корзину</button>
        {% comment %} <div class="stock_quantity{{ product.id }}">{{ product.stock_quantity }}</div> {% endcomment %}
        <div class="cart-footer">Остаток</div>
        <div class="cart-footer" id="{{ product.id }}">{{ product.stock_quantity }}</div>
        {% comment %} <button><a class="a-index" href="">В корзину</a></button> {% endcomment %}
      </div>
    {% endfor %}
  </div>
  <h3><div class="no-auth"></div></h3>

  <style>
    .cart-footer {
      padding-bottom: 5px;
      font-size: 12px;
    }
    .no-auth {
      text-align: center;
    }
    .add-to-cart-btn {
      margin-top: 10px;
      background-color: black;
      margin-bottom: 10px;
    }
    .card {
      border: 1px solid #ccc;
    
      width: 180px;
      margin: 10px;
      display: inline-block;
    }
    
    .quantity {
      display: flex;
      align-items: center;
    }
    
    .quantity-input {
      padding: 8px;
    
      width: 100px;
      text-align: center;
      margin: 0 5px;
    }
    
    .plus-btn,
    .minus-btn {
      background-color: #4caf50;
      color: white;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 16px;
    }
    
    .plus-btn:hover,
    .minus-btn:hover {
      background-color: #45a049;
    }
    
    a {
      text-decoration: none;
    }
    .discr {
      font-size: 12px;
    }
    .card h5 {
      margin: 0.5vw;
    }
    .card h3 {
      margin: 0.5vw;
    }
    .card p {
      margin: 1vw;
    }
    hr {
      width: 70%;
      margin: 15px auto;
    }
    .a-index {
      color: beige;
      text-decoration: none;
    }
    .conteiner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .card {
      word-wrap: break-word;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
      max-width: 200px;
    
      margin: 10px auto;
      text-align: center;
      font-family: arial;
      background-color: #f1f1f1;
    }
    
    .card:hover {
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
    }
    
    .price {
      color: grey;
      font-size: 18px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 8px;
      color: white;
    
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 15px;
    }
    
    .card button:hover {
      box-shadow: 0 8px 12px 0 rgba(10, 10, 10, 0.7);
    }
    @media screen and (max-height: 450px) {
      .conteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
       {
      }
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Находим все карточки товаров на странице
      var productCards = document.querySelectorAll('.card')
    
      // Для каждой карточки настраиваем обработчики событий
      productCards.forEach(function (card) {
        var quantityInput = card.querySelector('.quantity-input')
        var plusBtn = card.querySelector('.plus-btn')
        var minusBtn = card.querySelector('.minus-btn')
    
        var no_auth = document.querySelector('.no-auth')
        //console.log(no_auth)
        var addToCartBtn = card.querySelector('.add-to-cart-btn')
    
        //
        var productId = addToCartBtn.getAttribute('data-product-id')
        console.log('productId:', productId)
        element = document.getElementById(productId)
        //console.log(element)
    
        // Обработчик для кнопки "+"
        plusBtn.addEventListener('click', function () {
          //var currentValue = parseInt(quantityInput.value)
          var currentValue = parseInt(quantityInput.innerHTML)
          addToCartBtn.innerHTML = `&#x1F6D2` + 'Добавить в корзину'
          addToCartBtn.style.background = 'black'
          quantityInput.innerHTML = currentValue + 1
          var productId = addToCartBtn.getAttribute('data-product-id')
          element = document.getElementById(productId)
          if (element) {
            var currentQuantity = parseInt(element.innerHTML)
            console.log(currentQuantity)
            // If the current quantity is 0 or less, deactivate the plus button
            if (currentQuantity === 1) {
              element.innerHTML = 0
              plusBtn.disabled = true // Ensure plusBtn is defined
            } else {
              element.innerHTML = currentQuantity - 1 // Decrease the quantity by 1
            }
          }
        })
    
        // Обработчик для кнопки "-"
        minusBtn.addEventListener('click', function () {
          var currentValue = parseInt(quantityInput.innerHTML)
          if (currentValue > 0) {
            addToCartBtn.innerHTML = `&#x1F6D2` + 'Добавить в корзину'
            addToCartBtn.style.background = 'black'
            quantityInput.innerHTML = currentValue - 1
    
            var productId = addToCartBtn.getAttribute('data-product-id')
            console.log('productId:', productId)
            element = document.getElementById(productId)
            var currentQuantity = parseInt(element.innerHTML)
            if (!isNaN(currentQuantity)) {
              if (currentQuantity >= 0) {
                plusBtn.disabled = false
                element.innerHTML = currentQuantity + 1
              }
            }
          }
        })
        addToCartBtn.addEventListener('click', function () {
          //var currentValue = parseInt(quantityInput.value)
          var currentValue = parseInt(quantityInput.innerHTML)
          if (currentValue > 0) {
            var productId = addToCartBtn.getAttribute('data-product-id')
            console.log('Товар:', productId)
            console.log('Кол-во:', currentValue)
    
            //currentValue.innerHTML = ''
            //quantityInput.value = 0
            quantityInput.innerHTML = 0
            //currentValue.innerHTML = currentValue + 10
          }
    
          fetch('/add_to_bascet/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCSRFToken()
            },
            body: JSON.stringify({
              productId: productId,
              quantity: currentValue
            })
          })
            .then(function (response) {
              if (!response.ok) {
                throw new Error('Ошибка добавления товара в корзину.')
              }
    
              return response.json()
            })
            .then(function (data) {
              // Успешный ответ от сервера
              if (data.status == 0) {
                console.log(no_auth)
                addToCartBtn.innerHTML = 'На регистрацию'
                addToCartBtn.style.background = 'red'
                // console.log('Для добавления товара в корзину необходимо зарегистрироваться.')
              } else if (data.status == 'success') {
                addToCartBtn.innerHTML = `&#x1F6D2` + 'Тоавр в корзине'
                addToCartBtn.style.background = 'grey'
    
                console.log(`Товар добавлен в корзину.`)
              }
            })
            .catch(function (error) {
              // Обработка ошибок
    
              console.log('Произошла ошибка при добавлении товара в корзину.')
            })
        })
      })
    })
  </script>
{% endblock %}
